<html>

    <head>
        <title>Html Table Export</title>
    </head>

    <body >

        <table width="100%" border="1" cellpadding="0" cellspacing="0" repeat="1" pdf-keep-in-frame-mode="error">
            <tr style="background: #cccccc">
                % for key, value in params['records'][0].items():
                    <th>${key}</th>
                % endfor
            </tr>
            
            % for record in params['records']:
                <tr style="text-align: center">
                    % for key, value in record.items():
                        % if value:
                            <td>${str(value).decode('utf-8')}</td>
                        % else:
                            <td>&nbsp;</td>
                        % endif
                    % endfor
                </tr>
            % endfor
        </table>
        
    </body>

</html>
