<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <HEAD><TITLE>Creche Portal Notification</TITLE>
        <STYLE type="text/css">
            a {
                TEXT-DECORATION: none
            }
        </STYLE>
    </HEAD>
    <BODY style="MARGIN-TOP: 0px; background-color: #e3e7ea;" bgcolor='#e3e7ea' vLink=#cc0000 aLink=#cc0000 link=#cc0000>
        <P style="text-align: center"><FONT face=tahoma size=-2>If your email program has trouble displaying this email, <A href="${params['rootUrl']}">view it as a web page</A>.</FONT></P>

        <TABLE style="BORDER: blue 1px solid;background-color: #ffffff; horizontal-align: center;" cellSpacing=0 cellPadding=0 width=650 align=center border=0>
            <TBODY>
                <TR>
                    <TD style="BACKGROUND-POSITION: left top;  BORDER-BOTTOM: #a9a9f5 0px solid; BACKGROUND-REPEAT: no-repeat" width=650 colSpan=2 height=70><A href=""><IMG height=70 src="${params['staticContentUrl']}/extimg/logo.png" width=650 align=center border=0 alt="creche_logo"></A> </TD></TR>
                <TR>
                    <TD style="PADDING-RIGHT: 20px; BORDER-TOP: #000000 0px solid; PADDING-LEFT: 20px; FONT-SIZE: 10pt; PADDING-BOTTOM: 20px; COLOR: #000000; PADDING-TOP: 20px; FONT-FAMILY: Arial" width="100%" colSpan=2>
                        <P style="text-align: justify">Dear ${params['recipient']},</P>
                        <P style="text-align: justify">Thank you for your interest in creche portal message digests(<strong>CRECHE PARENTALE</strong>)
                        <p>
                            Creche automated system has detected significant development in the event notifications that you registered for.
                        </p>
                        <p>
                            The details of the events are as follows:
                        </p>
                        
                        % for event_type, events in params['notifications'].items():
                            % if events:
                                <div style="background: none repeat scroll 0 0 #EEEEEE; padding: 10px; margin-top: 20px;">
                                    <div style="font-weight: bold; font-size: 16px;  padding: 10px 0 10px 14px; width: 100%;">
                                        <%
                                            event_type_name = event_type
                                            if len(events) > 1:
                                                event_type_name += 's'
                                        %>
                                        ${event_type_name}
                                    </div>
                                    <table style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; border-collapse: collapse;" width="100%" border="1" CELLSPACING="0">
                                        <!-- build the table header -->
                                        % for header in sorted(events[0].keys()):
                                            % if not header.endswith('Id'):
                                                <th>${header}</th>
                                            % endif
                                        % endfor

                                        % for event in sorted(events):
                                            <tr>
                                                % for key, value in sorted(event.items()):

                                                    % if not key.endswith('Id'):
                                                        <td>${value}</td>
                                                    % endif

                                                % endfor
                                            </tr>
                                        % endfor
                                    </table>
                                </div>
                            % endif
                        % endfor
                        
                        <P style="text-align: center;font-size: 9px;">* "Timestamp (Event)" column value represents when the event was detected and logged in the system.</P>

                        <P style="text-align: justify">Every day Creche publishes informative documents, please do not hesitate to <A href="#">contact us</A>.
                        </P>
                        <P style="text-align: justify">Thank you for your continued interest in Creche Portal message digests.</P>
                        <P style="text-align: justify">Regards,<BR>The Creche Team</P>
                    </TD>
                </TR>
                <TR>
                    <TD style="BORDER-TOP: blue 1px solid; PADDING: 20px; FONT-SIZE: 8pt; COLOR: #000000;  BORDER-BOTTOM: #ffffff 0px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff" vAlign=center align=left width="50%" height=20>
                        <p style="font-size: 16px;">
                            <a href="http://www.facebook.com/pages/creche">
                                <img alt="facebook" src="${params['staticContentUrl']}/extimg/fb.jpg" width="194" border="0" height="54">
                            </a>
                            <a href="http://twitter.com/#!/creche">
                                <img alt="twitter" src="${params['staticContentUrl']}/extimg/twitter.jpg" width="194" border="0" height="54">
                            </a>
                            <a href="http://localhost/blog">
                                <img alt="blog" src="${params['staticContentUrl']}/extimg/blog.jpg" width="194" border="0" height="54">
                            </a>
                        </p>
                    </TD>
                    <TD style="PADDING-RIGHT: 20px; BORDER-TOP: blue 1px solid; FONT-SIZE: 8pt; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 0px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff" vAlign=bottom align=right width="50%" height=20>(c) ${params['copyrightYear']} Creche Parentale </TD>
                </TR>
            </TBODY>
        </TABLE>
        <P style="text-align: center">
            <BR>
            <FONT face=arial size=1>Please&nbsp;<A href="${params['rootUrl']}/user">click here</A>&nbsp;to unsubscribe.
                <BR>
                <BR>
                <B>Creche Parentale</B>
                <BR>xx yyyyy Road
                <BR>zzzz, Bruxelles, Belgium
                <BR>Telephone +vvvvvvvvvvvvvvvvv
                <BR>Fax +bbbbbbbbbbbbbb
            </FONT>
        </P>
    </body>
</html>


