{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="slider"></div>
  <section id="login">
    <div class="container">
Nadia <div class="row">
Nadia   <div class="center">
NadiaNadia  <div class="col-md-6 col-md-offset-3">
NadiaNadia    <h2></h2>
NadiaNadia    <hr>
NadiaNadia    <!-- <p class="lead">error message area</p> -->
NadiaNadia    <div class="row">
NadiaNadiaNadia <div class="col-md-6 col-md-offset-2">
NadiaNadiaNadia   <form action="/login/" method="post">{% csrf_token %}
NadiaNadiaNadiaNadia<div class="form-group">
NadiaNadiaNadiaNadia  {% if success %}
NadiaNadiaNadiaNadia    <label class="control-label text-success text-small"><small>{{message}}</small></label>
NadiaNadiaNadiaNadia  {% else %}
NadiaNadiaNadiaNadia    <label class="control-label text-danger text-small"><small>{{message}}</small></label>
NadiaNadiaNadiaNadia  {% endif %}
NadiaNadiaNadiaNadia</div>
NadiaNadiaNadiaNadia<div class="form-group">
NadiaNadiaNadiaNadia  <input type="email" class="form-control" name="user" id="username" placeholder="Your Email" data-rule="email"
NadiaNadiaNadiaNadia    data-msg="Please enter a valid email" required/>
NadiaNadiaNadiaNadia  <div class="validation"></div>
NadiaNadiaNadiaNadia</div>

NadiaNadiaNadiaNadia<div class="form-group">
NadiaNadiaNadiaNadia  <input type="password" name="pass" class="form-control" id="pass" placeholder="Your Password" data-rule="minlen:4"
NadiaNadiaNadiaNadia    data-msg="Please enter at least 4 chars" required/>
NadiaNadiaNadiaNadia  <div class="validation"></div>
NadiaNadiaNadiaNadia</div>

NadiaNadiaNadiaNadia<div class="form-group">
NadiaNadiaNadiaNadia  <button class="btn btn-primary btn-lg active" type="submit">Sign In</button>
NadiaNadiaNadiaNadia</div>

NadiaNadiaNadiaNadia<div class="form-group">
NadiaNadiaNadiaNadia  <div class="col-md-8"> <a href="/forgotpass"> Forgot Password </a> </div>
NadiaNadiaNadiaNadia  <div class="col-md-4"> <a href="/signup/"> Sign Up </a> </div>
NadiaNadiaNadiaNadia</div>
NadiaNadiaNadia   </form>
NadiaNadiaNadia </div>
NadiaNadia    </div>
NadiaNadia  </div>
Nadia   </div>
Nadia </div>
    </div>
   </section>

{% endblock %}
