{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<section id="signup">
    <div class="container">
Nadia <div class="row">
Nadia   <div class="center">
NadiaNadia  <div class="col-md-6 col-md-offset-3">
NadiaNadia    <h2></h2>
NadiaNadia    <hr>
NadiaNadia    <!-- <p class="lead">error message area</p> -->
NadiaNadia    <div class="row">
NadiaNadiaNadia <div class="col-md-6 col-md-offset-2">
NadiaNadiaNadia   <form action="/systemUser/save/" method="post">
NadiaNadiaNadiaNadia<div class="form-group">
NadiaNadiaNadiaNadia  <input type="email" class="form-control" name="user" id="username" placeholder="Your Email"
NadiaNadiaNadiaNadiaNadia    data-rule="email"  data-msg="Please enter a valid email" />
NadiaNadiaNadiaNadia  <div class="validation"></div>
NadiaNadiaNadiaNadia</div>

NadiaNadiaNadiaNadia<div class="form-group">
NadiaNadiaNadiaNadia  <input type="password" name="pass" class="form-control" id="pass" placeholder="Your Password"
NadiaNadiaNadiaNadiaNadia    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
NadiaNadiaNadiaNadia  <div class="validation"></div>
NadiaNadiaNadiaNadia</div>

NadiaNadiaNadiaNadia<div class="form-group">
NadiaNadiaNadiaNadia  <input type="password" name="confirmpass" class="form-control" id="confirmpass" placeholder="Confrim Your Password"
NadiaNadiaNadiaNadiaNadia    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
NadiaNadiaNadiaNadia  <div class="validation"></div>
NadiaNadiaNadiaNadia</div>

NadiaNadiaNadiaNadia<div class="form-group">
NadiaNadiaNadiaNadia  <button class="btn btn-primary btn-lg active" type="submit">Register</button>
NadiaNadiaNadiaNadia</div>
NadiaNadiaNadia   </form>
NadiaNadiaNadia </div>
NadiaNadia    </div>
NadiaNadia  </div>
Nadia   </div>
Nadia </div>
    </div>
   </section>

{% endblock %}
